.AboutPageStyle {
    background-color: rgb(116, 158, 31);
    margin: 0;
    padding: 0;
}
 
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
 
.background {
    background: rgb(255, 255, 255);
    background-blend-mode: darken;
    background-size: cover;
}