.HomePageStyle {
    background-color: rgb(194, 20, 93);
}

.title_text {
    font-family: 'OCR A Std', monospace;
    color: rgb(253, 4, 4);
    font-weight: 500;
    font-size: 30px;
}

/* .box { 
    height: 2rem;
    width: 2rem;
    padding: 20px;
    margin: 50px;
    border: 10px solid rgb(11, 66, 68);
    background-color: cadetblue;
} */